In [6]:
CREATE DATABASE books_db_new

In [7]:
use books_db_new

In [8]:
CREATE TABLE
    AUTHORS(
        ID INT IDENTITY PRIMARY KEY,
        NAME VARCHAR(100) NOT NULL,
        BIO VARCHAR(100)
    )

In [10]:
CREATE TABLE 
    BOOKS
    (
        ID INT IDENTITY PRIMARY KEY,
        ISBN INT NOT NULL,
        TITLE VARCHAR(100),
        AUTHOR INT NOT NULL,
        FOREIGN KEY (AUTHOR) REFERENCES AUTHORS(ID) ON DELETE CASCADE ON UPDATE CASCADE
    )

In [23]:
CREATE TABLE
    USERS(
        ID INT IDENTITY PRIMARY KEY,
        NAME VARCHAR(100) NOT NULL,
        EMAIL VARCHAR(100) NOT NULL,
        PASSWORD VARCHAR(100) not NULL
    )

In [12]:
CREATE TABLE
    REVIEWS(
        ID INT IDENTITY PRIMARY KEY,
        REVIEWER_ID INT NOT NULL,
        BOOK_ID INT NOT NULL,
        DESCRIPTION VARCHAR(200),
        RATING INT NOT NULL DEFAULT(3),
        FOREIGN KEY (REVIEWER_ID) REFERENCES USERS(ID) ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (BOOK_ID) REFERENCES BOOKS(ID) ON DELETE CASCADE ON UPDATE CASCADE
    )

In [13]:
-- GET ALL AUTHORS
SELECT * FROM AUTHORS;

-- GET AUTHOR BY ID
SELECT * FROM AUTHORS WHERE ID=?

-- REMOVE AUTHOR
DELETE FROM AUTHORS WHERE ID=?

: Msg 102, Level 15, State 1, Line 5
Incorrect syntax near '?'.

: Msg 102, Level 15, State 1, Line 8
Incorrect syntax near '?'.

In [ ]:
-- GET ALL BOOKS
SELECT * FROM BOOKS;

-- GET BOOK BY ID
SELECT * FROM BOOKS WHERE ID=?

-- GET BOOKS BY AUTHOR
SELECT * FROM BOOKS AS B JOIN AUTHORS AS A ON B.AUTHOR=A.ID WHERE A.ID=?

-- GET BOOK REVIEWS
SELECT * FROM REVIEWS AS R JOIN BOOKS AS B ON R.BOOK_ID=B.ID WHERE B.ID=?

-- DELETE BOOK BY ID
DELETE FROM BOOKS WHERE ID=?

In [ ]:
SELECT * FROM REVIEWS AS R WHERE R.REVIEWS_ID = ?

In [ ]:
CREATE PROCEDURE