In [1]:
from linked_list import LinkedList

def check_prime(num):
    if(num==1):
        return False
    
    for x in range(2,num//2+1):
        if(num%x==0):
            return False
    return True

def find_primes(self):
    temp = self._LinkedList__head
    while temp!=None:
        if(check_prime(temp.data)):
            print(temp.data)
        temp = temp.next


def find_evens(self):
    temp = self._LinkedList__head
    while temp!=None:
        if ((temp.data) % 2 ==0):
            print(temp.data)
        temp = temp.next

LinkedList.find_primes = find_primes
LinkedList.find_evens = find_evens

In [2]:
for x in range(500):
    ll.append(x)

In [3]:
print(ll)

(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,)

In [ ]:
ll.find_primes()

In [26]:
class Book:
    def __init__(self, id, title, author, price, rating):
        self._id = id
        self.title = title
        self.author = author
        self.price = price
        self.rating = rating

    def __str__(self):
        return f'ID : {self._id}\nTitle: {self.title}\nAuthor : {self.author}\nPrice : {self.price}\nRating : {self.rating}'

    def __repr__(self):
        return f'Book({self._id},{self.title})'

class Books:
    def __init__(self):
        self._books = []

    def __str__(self):
        output = '('
        for x in self._books:
            output += f'({x._id}, {x.title})'
        output+=')'
        return output
    def add(self, id, title, author, price, rating ):
        self._books.append(Book(id, title, author, price, rating))
        
    def find_book_by_id(self, id):
        for book in self._books:
            if book._id == id:
                return book
        return None

    def find_books_by_rating_range(self, low, high):
        res = []
        for book in self._books:
            if book.rating>=low and book.rating<=high:
                res.append(book)
        return res

    def find_books_by_price_range(self, low, high):
        res = []
        for book in self._books:
            if book.price>=low and book.price<=high:
                res.append(book)
        return res

    def find_books_by_author(self, author):
        res = []
        for book in self._books:
            if book.author == author:
                res.append(book)
        return res

In [27]:
books = Books()

books.add(1, 'The immortals of meluha', 'Amish', 499,4.8)
books.add(2, 'Nagas', 'Amish', 599 ,4.5)
books.add(3, 'The oath of vayuputras', 'Amish', 599, 4.7)
books.add(4, 'Ram', 'Amish', 299, 4.3)
books.add(5, 'Sita', 'Amish', 399,4.8)
books.add(6, 'Ravan', 'Amish', 499,4.5)

In [28]:
print(books)

((1, The immortals of meluha)(2, Nagas)(3, The oath of vayuputras)(4, Ram)(5, Sita)(6, Ravan))

In [29]:
books.find_book_by_id(1)

Book(1,The immortals of meluha)

In [31]:
books.find_books_by_author('Amish')

[Book(1,The immortals of meluha),
 Book(2,Nagas),
 Book(3,The oath of vayuputras),
 Book(4,Ram),
 Book(5,Sita),
 Book(6,Ravan)]

In [32]:
books.find_books_by_price_range(299,499)

[Book(1,The immortals of meluha), Book(4,Ram), Book(5,Sita), Book(6,Ravan)]

In [33]:
books.find_books_by_rating_range(4.3,4.5)

[Book(2,Nagas), Book(4,Ram), Book(6,Ravan)]

In [11]:
from doubly_linked_list import LinkedList

def list_sort(self):

    swapped = 0

    lptr = None;

    if (self._first == None):

        return;

     

    while True:

        swapped = 0;

        ptr1 = self._first;  

        while (ptr1._next != lptr):      

            if (ptr1._value > ptr1._next._value):          

                ptr1._value, ptr1._next._value = ptr1._next._value, ptr1._value

                swapped = 1;      

            ptr1 = ptr1._next;      

        lptr = ptr1;    

        if swapped == 0:

            break

LinkedList.sort = list_sort

In [12]:
ll = LinkedList()

for x in [64, 34, 25, 12, 22, 11, 90]:
    ll.append(x)

ll.sort()

In [14]:
print(ll)

(11,12,22,25,34,64,90,)