In [1]:
from doubly_linked_list import LinkedList

def check_prime(num):
    if(num==1):
        return False
    
    for x in range(2,num//2+1):
        if(num%x==0):
            return False
    return True

def find_primes(self):
    temp = self._first
    res = LinkedList()
    while temp!=None:
        if(check_prime(temp._value)):
            res.append(temp._value)
        temp = temp._next
    return res


def find_evens(self):
    temp = self._first
    res = LinkedList()
    while temp!=None:
        if ((temp.data) % 2 ==0):
            res.append(temp._value)
        temp = temp._next
    return res

LinkedList.find_primes = find_primes
LinkedList.find_evens = find_evens

In [2]:
ll = LinkedList()
for x in range(5):
    ll.append(x)

In [3]:
for x in ll:
    print(x)

0
1
2
3
4

In [12]:
print(ll.find_primes())

(0, 2, 3)

In [13]:
class Book:
    def __init__(self, id, title, author, price, rating):
        self._id = id
        self.title = title
        self.author = author
        self.price = price
        self.rating = rating

    def __str__(self):
        return f'Book({self._id},{self.title})'

    def __repr__(self):
        return self.__str__()

def find_book_by_id(books, id):
    for book in books:
        if book._id == id:
            return book
    return None

def find_books_by_rating_range(books, low, high):
    for book in books:
        if book.rating>=low and book.rating<=high:
            yield book

def find_books_by_price_range(books, low, high):
    for book in books:
        if book.price>=low and book.price<=high:
            yield book

def find_books_by_author(books, author):
    for book in books:
        if book.author == author:
            yield book

In [14]:
books = LinkedList()

books.append(Book(1, 'The immortals of meluha', 'Amish', 499,4.8))
books.append(Book(2, 'Nagas', 'Amish', 599 ,4.5))
books.append(Book(3, 'The oath of vayuputras', 'Amish', 599, 4.7))
books.append(Book(4, 'Ram', 'Amish', 299, 4.3))
books.append(Book(5, 'Sita', 'Amish', 399,4.8))
books.append(Book(6, 'Ravan', 'Amish', 499,4.5))

In [15]:
books

[Book(1,The immortals of meluha), Book(2,Nagas), Book(3,The oath of vayuputras), Book(4,Ram), Book(5,Sita), Book(6,Ravan), ]

In [16]:
find_book_by_id(books,1)

Book(1,The immortals of meluha)

In [18]:
find_books_by_author(books, 'Amish')

Book(1,The immortals of meluha)
Book(2,Nagas)
Book(3,The oath of vayuputras)
Book(4,Ram)
Book(5,Sita)
Book(6,Ravan)

In [7]:
find_books_by_price_range(books,299,499)

[Book(1,The immortals of meluha), Book(4,Ram), Book(5,Sita), Book(6,Ravan)]

In [8]:
find_books_by_rating_range(books, 4.3,4.5)

[Book(2,Nagas), Book(4,Ram), Book(6,Ravan)]

In [11]:
from doubly_linked_list import LinkedList

def list_sort(self):

    swapped = 0

    lptr = None;

    if (self._first == None):

        return;

     

    while True:

        swapped = 0;

        ptr1 = self._first;  

        while (ptr1._next != lptr):      

            if (ptr1._value > ptr1._next._value):          

                ptr1._value, ptr1._next._value = ptr1._next._value, ptr1._value

                swapped = 1;      

            ptr1 = ptr1._next;      

        lptr = ptr1;    

        if swapped == 0:

            break

LinkedList.sort = list_sort

In [12]:
ll = LinkedList()

for x in [64, 34, 25, 12, 22, 11, 90]:
    ll.append(x)

ll.sort()

In [14]:
print(ll)

(11,12,22,25,34,64,90,)