In [34]:
USE master;
-- DROP DATABASE ecolab_books_db
-- USE ecolab_books_db;
-- drop table BOOKS;
-- drop table REVIEWS;
-- DROP TABLE REVIEWRS;
-- DROP TABLE PUBLISHER;

In [40]:
create database books_db;
-- use books_db;

In [49]:
drop database ecolab_books_db

: Msg 3702, Level 16, State 4, Line 1
Cannot drop database "ecolab_books_db" because it is currently in use.

In [42]:
CREATE TABLE
    PUBLISHER(
        ID INT IDENTITY PRIMARY KEY,
        P_NAME VARCHAR(100) NOT NULL,
        P_ADDRESS VARCHAR(100) NOT NULL,
        WEBSITE VARCHAR(100)
    )

In [43]:
CREATE TABLE 
    ISBN
    (
        ID INT IDENTITY PRIMARY KEY,
        BOOK_FORMAT VARCHAR(20),
        PRICE FLOAT,
        COVER VARCHAR(100),
        PUBLISHER_ID INT NOT NULL,
        FOREIGN KEY (PUBLISHER_ID) REFERENCES PUBLISHER(ID) ON DELETE CASCADE ON UPDATE CASCADE
    )

In [ ]:
CREATE TABLE
    AUTHOR
    (
        ID INT IDENTITY PRIMARY KEY,
        AUTHOR_PHOTO VARCHAR(150),
        NAME VARCHAR(100) NOT NULL,
        BIO VARCHAR(100)
    )

In [51]:
CREATE TABLE 
    BOOK
    (
        ID INT IDENTITY PRIMARY KEY,
        ISBN INT NOT NULL,
        TITLE VARCHAR(100),
        AUTHOR INT NOT NULL,
        FOREIGN KEY (ISBN) REFERENCES ISBN(ID) ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (AUTHOR) REFERENCES AUTHOR(ID) ON DELETE CASCADE ON UPDATE CASCADE
    )

: Msg 1767, Level 16, State 0, Line 1
Foreign key 'FK__BOOK__AUTHOR__5DCAEF64' references invalid table 'AUTHOR'.

: Msg 1750, Level 16, State 1, Line 1
Could not create constraint or index. See previous errors.

In [45]:
CREATE TABLE
    REVIEWER(
        ID INT IDENTITY PRIMARY KEY,
        R_NAME VARCHAR(100) NOT NULL,
        R_EMAIL VARCHAR(100) NOT NULL
    )

In [47]:
CREATE TABLE
    REVIEWS(
        ID INT IDENTITY PRIMARY KEY,
        REVIEWER_ID INT NOT NULL,
        ISBN INT NOT NULL,
        TITLE VARCHAR(100) NOT NULL,
        DETAILS VARCHAR(200) NOT NULL,
        RATING INT NOT NULL DEFAULT(3),
        FOREIGN KEY (REVIEWER_ID) REFERENCES REVIEWER(ID) ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (ISBN) REFERENCES ISBN(ID) ON DELETE CASCADE ON UPDATE CASCADE
    )

In [13]:
CREATE PROCEDURE ADD_PUBLISHER
    @NAME AS VARCHAR(100),
    @ADDRESS AS VARCHAR(100),
    @WEBSITE AS VARCHAR(100)
AS
    INSERT INTO
        PUBLISHER(P_NAME, P_ADDRESS, WEBSITE)
    VALUES(@NAME, @ADDRESS, @WEBSITE)
GO

In [ ]:
CREATE PROCEDURE ADD_BOOK
    @ISBN INT,
    @BOOK_FORMAT VARCHAR(20),
    @PRICE FLOAT,
    @COVER VARCHAR(100),
    @PUBLISHER_ID INT,
AS
    INSERT INTO
        BOOK(ISBN, BOOK_FORMAT, PRICE, COVER, PUBLISHER_ID)
    VALUES(@NAME, @ADDRESS, @WEBSITE)
GO